.section {
    width: 100%;
    background-color: #05031b;
    padding: 100px 20px;
}


.container_contact {
    max-width: 1024px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container_contact h2 {
    margin-bottom: 15px;
    font-size: 26px;
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    border: solid 1px gray;
    border-radius: 8px;
    max-width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content .card h3 {
    font-weight: 900;
    font-size: 20px;
}

.container_topicos_contact {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.card .topicos_contact {
    display: flex;
    gap: 15px;

}



@media (min-width: 768px) {
    .content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .content {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    .container_contact {
        max-width: 100%;
    }
}