.img_fundo {
    background-image: url('../../../public/capa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.img_fundo .container_textos {
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    /* border: solid 1px red; */
}

.textos {
    /* border: solid 1px yellow; */
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.textos  p, .textos h1 {
    font-family: 'Anybody', cursive;
    display: flex;
    flex-direction: column;

}

.img_fundo p {
    font-size: 24px;
    color: rgb(196, 196, 196);
}

.img_fundo h1 {
    color: #fff;
    font-size: 34px;
    margin: 0;
    letter-spacing: 5px;
    line-height: 40px;
}
